@import url('https://hotsaucehank.github.io/base.css');

body {
 font-family: var(--font);
 background-color: var(--background);
 color: var(--font-primary);
}

.aui-sidebar .aui-sidebar-wrapper {
  background-color: var(--background);
  color: var(--font-primary);
}

.aui-page-panel, .content-header {
  background-color: var(--background);
  color: var(--font-primary);
}

.aui-sidebar-wrapper {
  width: 55px !important;
}

.stream-item:hover {
  background: var(--background) !important;
  box-shadow: var(--inward);
  border-radius: var(--border-radius-medium);
}

.content-body {
  width: 100% !important;
}

#quick-search-query {
  background-color: var(--background) !important;
  width: 1px;
  cursor: pointer;
}

/* REMOVED ITEMS */
#footer, .aui-sidebar-handle, .content-sidebar,
 .aui-sidebar-footer, #logo, #help-menu-link {
  display: none !important;
}
