@import url('https://hotsaucehank.github.io/base.css');

body {
 font-family: var(--font);
 background-color: var(--background);
 color: var(--font-primary);
}

.aui-sidebar .aui-sidebar-wrapper {
  background-color: var(--background);
  color: var(--font-primary);
}

#footer {
  display: none !important;
}
